### Base URL ###
API_BASE_URL

### POSTGRES VARIABLES###
POSTGRES_IMAGE
POSTGRES_DB
DB_HOST
DB_PORT
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_PORTS
POSTGRES_VOLUME_PATH
BACKUP_RETENTION_DAYS

### DOCKER VARIABLES ###

NETWORK_DRIVER_TYPE

### JWT VARIABLES ###

## JWT key is a-string-secret-at-least-256-bits-long
JWT_SECRET_KEY

## EXPIRATION_TIME is a ISO 8601 format
# PT30M     30 minutes
# PT2H      2 hour
# PT1H30M   1 hour 30 minutes
# P1D       1 day (There is no T because it does not contain hours/minutes.)
# P7DT12H   7 day 12 hour
JWT_EXPIRATION_TIME



### MAIL VARIABLES ###

MAIL_HOST=localhost
# The compose file must be on the same port.
MAIL_PORT=1025

# defauls no username and password
MAIL_USERNAME=
MAIL_PASSWORD=